 @font-face { font-family: opensans; src: url('../../../../../../../Resources/OpenSans-Regular.ttf');}

body {
	background-color: mediumpurple;
	background-image: url(../../../../../../../Images/RickBG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#information {
	font-family: opensans;
	color: #FFA900;
	text-align: center;
	font-size: 25px;
	position: fixed;
	width: 20%;
	top: 20%;
	left: 15%;
	transform: translate(-50%, -50%);
}

#question {
	position: fixed;
	left: 85%;
	transform: translate(-50%, 50%);
}