 @font-face { font-family: opensans; src: url('../../../../Resources/OpenSans-Regular.ttf');}

body {
	background-color: #006D4B;
	/* The image used */
	background-image: url(../../../../Images/GreenBG.png);
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#information {
	font-family: opensans;
	color: #001B19;
	text-align: center;
	font-size: 15px;
	position: relative;
	width: 40%;
	top: 50%;
	left: 30%;

	/* Disable text selection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */
	touch-action: manipulation;
}

#sideImage {
	position: fixed;
	top: 50%;
	left: 85%;
	transform: translate(-50%, -50%);
}

#continue {
	font-family: opensans;
	font-weight: normal;
	font-size: 25px;
}

#button {
	background-color: #FF0055;
	font-family: opensans;
	text-align: center;
	font-size: 25px;
	padding: 10px 0px;
	color: #FFD999;
	outline-style: none;
	border: none;
	cursor: pointer;
	position: fixed;
	width: 20%;
	bottom: 65%;
	left: 5%;
	/* Disable text selection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */
	touch-action: manipulation;
	/* css 3 */
	border-radius: 10px;
	/* mozilla */
	-moz-border-radius: 10px;
	/* webkit */
	-webkit-border-radius: 10px;
}

#result {
	font-family: opensans;
	color: #FFA900;
	text-align: center;
	font-size: 25px;
	position: fixed;
	width: 20%;
	top: 20%;
	left: 15%;
	transform: translate(-50%, -50%);
}

input {
	font-family: opensans;
	color: #21391A;
	text-align: center;
	font-size: 25px;
	position: fixed;
	width: 20%;
	top: 10%;
	left: 15%;
	transform: translate(-50%, -50%);
	/* css 3 */
	border-radius: 10px;
	/* mozilla */
	-moz-border-radius: 10px;
	/* webkit */
	-webkit-border-radius: 10px;
}